body{
    background-color: rgb(9, 209, 209);
}

h1{
    font-size: 45;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    color:rgb(0, 129, 167)
}

.bg{
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    text-align: center;
    color: rgb(0, 175, 185)
}

#id{
    font-size: 20px;
    font-family: monospace;
    padding: 5 20 20 0;
    margin: 20px ;
    text-align: center;
    color : rgb(105, 219, 156)
}

img{
    width: 500;
    margin-bottom: 15px;
    padding: 10px;
}

.word{
    text-align: center;
    width: 600px;
    margin: auto;
    background-color:rgb(223, 254, 183)
}